<a href="https://colab.research.google.com/github/munmoom/First-week-BCP/blob/main/3.17.%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n= 17
id(n)

93891671202816

In [ ]:
n="seventeen"
id(n)

140347400531632

In [ ]:
x=10
y=x
print(x is y)
print(id(x))
print(id(y))

y=5

print(x)
print(y)

print(id(x))
print(id(y))

True
93891671202592
93891671202592
10
5
93891671202592
93891671202432

In [ ]:
x=[2,3,4,1,10,2]
y=x
print(id(x))
print(id(y))
y[2]=15

print(id(x))
print(id(y))
print(x)
print(y)

140347255471792
140347255471792
140347255471792
140347255471792
[2, 3, 15, 1, 10, 2]
[2, 3, 15, 1, 10, 2]

list같은 경우 복사에서 쓰면 처음에 있던 list값이 바뀔 수 있다

In [1]:
x=[2,3,4,1,10,2]
y=list(x)
y[2]=15

print(x)
print(y)

[2, 3, 4, 1, 10, 2]
[2, 3, 15, 1, 10, 2]

이러면 괜찮

In [ ]:
A, B = map(int, input().split())
print(A+B)

1 2
3

띄어쓰기면 map
줄바꿈이면 따로따로(여러 줄)

문제 대부분 이런 형식으로 시작
1. 입력
2. 출력

006분반

split은 공백을 기준으로 나뉜다

저지 프로그램에서 연습 많이^^

In [ ]:
x=int(input())
y=int(input())

print(x+y)
print(x-y)
print(x*y)
print(x/y)

2
4
6
-2
8
0.5

줄바꿈 경우

In [ ]:
A=int(input())
B=int(input())

result = A+B


  print(A+B)
  print(A-B)
  print(A*B)
  print(A/B)

In [ ]:
num=int(input())
choo=int(input())
tuna=int(input())
fish=int(input())
chicken=int(input())
feed=int(input())
cho = choo*3000
tu=tuna*3000
fi=fish*12000
chi=chicken*4000
fe=feed*4000

total=cho+tu+fi+chi+fe
result=total/num

print(f'{int(result)}원')

2
2
2
2
2
22
66000원

In [ ]:
num=int(input())
choo=int(input())
tuna=int(input())
fish=int(input())
chicken=int(input())
feed=int(input())
cho = choo*3000
tu=tuna*3000
fi=fish*12000
chi=chicken*4000
fe=feed*4000

total=cho+tu+fi+chi+fe
result=total//num

print(f'{(result)}원')

2
2
2
2
2
22
66000원

정수/정수=실수
int로 정수

In [ ]:
12+12.3

24.3

계산에서는 더 큰 범위로 바뀜 -----정수->실수